<head>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body { padding-top:80px; }
	</style>
</head>
<body>
<div class="container">
	<div class="well">
		<h3><span class="fa fa-user"></span> Local</h3>

		<% if (user.facebook.token) { %>
		<p>
			<strong>email</strong>: <%= user.local.email %><br>
		</p>

		<a href="/unlink/local" class="btn btn-default">Unlink</a>
		<% } else { %>
		<a href="/connect/local" class="btn btn-default">Connect Local</a>
		<% } %>

	</div>
</div>
</body>