<html>
<head>
	<title>Social Reader</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="/vendordist/css/custom.css">
	<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container" style="margin-top:-25px;">
	<div class="row">
		<div class="col-md-12">
			<h3>Newser</h3>
			<br>
			<h2 style="margin-top: -50px;">Be in touch with the world!</h2>
			<div class="col-md-6 .col-md-offset-3">
				<ul class="social">
					<li class="facebook"><a href="/auth/facebook">
							<i class="fa fa-facebook fa-3x" style="padding: 8px 8px;"></i></a></li>
					<li class="twitter"><a href="/auth/twitter">
							<i class="fa fa-twitter fa-3x" style="padding: 6px;"></i></a></li>
					<li class="google_plus"><a href="/auth/google">
							<i class="fa fa-google-plus-square fa-3x" style="transform: rotate(315deg); padding: 6px;">
							</i></a></li>
					<li class="todoist"><a href="/auth/todoist"><i class="fa fa-angle-double-down fa-3x"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</body>
</html>
